.products {
  padding: 30px 0 50px;
  &__row {
    display: flex;
    flex-wrap: wrap;
    column-gap: 15px;
    row-gap: 40px;
  }
  &__card {
    width: calc(33.33333% - 10px);
    text-align: center;
    &-img {
      width: 100%;
      height: 400px;
      object-fit: cover;
    }
    &-title {
      font-weight: 500;
      font-size: 18px;
      text-transform: uppercase;
      color: #0F303F;
      margin-top: 15px;
    }
    &-category {
      font-weight: 300;
      font-size: 16px;
      text-transform: capitalize;
      color: #0F303F;
      margin: 7px 0;
    }
    &-price {
      font-weight: 700;
      font-size: 14px;
      letter-spacing: 0.045em;
      text-transform: uppercase;

      color: #FD5454;
    }

  }
}